@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Raleway', sans-serif;
  margin: 8px;
  font-size: 18px;
  background-color: #006d88;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif;
}

#container {
  width: 980px;
  margin: 0 auto;
  line-height: 1.4;
  background: #006d88 url(/assets/images/background.png) top center repeat-y;
}

h2, h3, h4 { font-weight: normal; letter-spacing: 2px; }
ul, ol { margin-left: -1em; }
.column { padding: 0 40px 0 20px; }

#header { margin-left: 10px; }
#title { font-size: xx-large; font-weight: bold; text-align: center; margin: 1em 0; }
#title img { vertical-align: middle; }

a { color:#CC6714; text-decoration: none;	}
a:hover {	color:#CC6714; background-color: #F5F5F5;	}

.navigation { margin-top: 1em; }

.navigation a {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}
.navigation a:link, #navlist a:visited {
	color:#CC6714;
	text-decoration: none;
}
		
.navigation a:hover {
	background-color: #F5F5F5;
	color:#CC6714;
}

#footer {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: right;
	clear: both;
	background-color:#005167;
	padding: 0px 5px 0px 5px;
}
		
#footer p {
	color:#fff;
	padding: 5px;
}

#footer p a {
	color: #fff;
	border-bottom: 1px dotted #CC6714;
}

#footer p a:hover {
	color: #FFFFFF;
	background-color:#006d88;
}

.post {
  margin-bottom: 1pc;
  border-bottom: 1px solid #ddd;
}

.post-title {
  font-size: 1.25em;
  margin-bottom: 0.25pc;
}

.post-date {
  display: block;
  color: #9a9a9a;
  font-weight: bold;
  margin-bottom: -1.4em;
}

.post-comment-button {
  float: left;
  font-size: 80%;
}

.older {
  float: right;
}

.recent-post {
  line-height: 2;
  border-bottom: solid #ccc 1px;
}

.post-read-more {
}

a.post-read-more {
  border-bottom-width: 0;
  font-size: x-large;
  float: right;
  margin-top: -0.5pc;
}

.post-excerpt {
  margin-bottom: 1pc;
}

@media (max-width: 768px) {
  #container {
    width: 480px;
  }
}

@media (max-width: 640px) {
  #container {
    width: 640px;
  }
}

@media (max-width: 480px) {
  #container {
    width: 480px;
  }
}
