body {
  margin: 8px;
  font-size: 17px;
  background-color: #006d88;
}

#container {
  width: 980px;
  margin: 0 auto;
  line-height: 1.4;
  background: #006d88 url(/assets/images/background.png) top center repeat-y;
}

#header { margin-left: 10px; }
#title { font-size: xx-large; text-align: center; }
#title img { vertical-align: middle; }
.column { padding: 0 20px;}