<div class="pure-menu navigation">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="/">Home</a>
    </li>
z    <li class="pure-menu-item">
      <a href="/sendexplorer">SEND Explorer</a>
    </li>
    <li class="pure-menu-item">
      <a href="/toxicology">Toxicology Services</a>
    </li>
    <li class="pure-menu-item">
      <a href="/technology">Technology Services</a>
    </li>
    <li class="pure-menu-item">
      <a href="/about">About Us</a>
    </li>
    <li class="pure-menu-item">
      <a href="/brochure.pdf">Brochure</a>
    </li>
    <li class="pure-menu-item">
      <a href="/contact">Contact</a>
    </li>
    <li class="pure-menu-item">
      <a href="/archive">Archive</a>
    </li>
    <li class="pure-menu-item">
      <p><strong>Phone <a href="tel:17349295392">734.929.5392</a></strong></p>
      <p><strong>Email <a href="mailto:info@inds-inc.com">info@inds-inc.com</a></strong></p>
      <p>
        {% include social.html %}
      </p>
    </li>
  </ul>
</div>