<strong>Follow us on:</strong>
<a href="http://www.linkedin.com/company/integrated-nonclinical-development-solutions-inc-inds-/" target="_blank">
<img src="/assets/images/linkedin.jpg" height="35" width="35"/></a>
<p id="twitter">
  <a class="twitter-timeline" href="https://twitter.com/INDSInc" data-widget-id="621779453769875456" height=700>Tweets by @INDSInc</a>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</p>