<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Nonclinical, nonclinical, Non-Clinical, non-clinical, Non clinical, non Clinical, Preclinical, preclinical, Toxicology, toxicology, Drug Development, drug development, Consulting, consulting, Consultants, consultants, Consultant, consultant, Standard for Exchange of Nonclinical Data, SEND, Data Warehouse, Data Warehousing, data warehouse, data warehousing, safety assessment, Safety Assessment, Risk Assessment, risk assessment, medical devvice, Medical Device, Medical Devices, medical devices, Regulatory, regulatory, validation, Validation, GLP, Good Laboratory Practices, Study Monitoring, study monitory">
    <title>Integrated Nonclinical Development Solutions, Inc.</title>
    <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>
  
  <body>
    <div id="header">
      <img src="./assets/images/header.png" alt="Integrated Nonclinical Development Solutions" />
    </div>
    
    <div class="pure-g">
      <div class="pure-1-4">sidebar</div>
      <div class="pure-3-4">{{ content }}</div>
    </div>
  </body>

</html>